@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/Layout_main.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

@section styles{
    <link href="~/css/home.css" rel="stylesheet" />
}

<table id="myTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Married</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows will be dynamically populated -->
    </tbody>
</table>

<div id="editModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Row</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput">
                    </div>
                    <div class="form-group">
                        <label for="dobInput">Date of Birth</label>
                        <input type="date" class="form-control" id="dobInput">
                    </div>
                    <div class="form-group">
                        <label for="marriedInput">Married</label>
                        <input type="checkbox" class="form-check-input" id="marriedInput">
                    </div>
                    <div class="form-group">
                        <label for="phoneInput">Phone</label>
                        <input type="number" class="form-control" id="phoneInput">
                    </div>
                    <div class="form-group">
                        <label for="salaryInput">Salary</label>
                        <input type="text" class="form-control" id="salaryInput">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveChangesModal">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js"></script>

