@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/Layout_main.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<style>
    #editPanel .centered-button {
        text-align: center;
    }
</style>

<script>
    $(document).ready(function () {
        var table = $('#myTable').DataTable({
            ajax: {
                url: '/Home/GetAllPerson',
                method: 'GET',
                dataSrc: ''
            },
            columns: [
                { data: null, defaultContent: '', className: 'select-checkbox' },
                { data: 'name' },
                { data: 'dateOfBirth' },
                { data: 'married' },
                { data: 'phone' },
                { data: 'salary' },
                {
                    data: null,
                    defaultContent: '<button class="btn btn-primary btn-light editBtn"><i class="fas fa-pencil-alt"></i></button> <button class="btn btn-danger btn-light deleteBtn"><i class="fas fa-trash-alt"></i></button>'
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            searching: true,
            paging: true,
            ordering: true
        });

        $('#myTable tbody').on('click', '.editBtn', function () {
            rowData = table.row($(this).closest('tr')).data();
            openEditModal(rowData);
        });

        function openEditModal(rowData) {

            $('#nameInput').val(rowData.name);
            $('#dobInput').val(rowData.dateOfBirth);
            $('#marriedInput').prop('checked', rowData.married);
            $('#phoneInput').val(rowData.phone);
            $('#salaryInput').val(rowData.salary);

            $('#editModal').modal('show');
        }

        $('#editModal .close').click(function () {
            $('#editModal').modal('hide');
        });

        $('#editModal .modal-footer .btn-secondary').click(function () {
            $('#editModal').modal('hide');
        });

        $('#myTable tbody').on('click', '.deleteBtn', function () {
            var rowData = table.row($(this).closest('tr')).data();

            console.log('Delete row:', rowData);

            deleteRowOnServer(rowData);
        });

        $('#editModal').on('hidden.bs.modal', function () {

            $('#nameInput').val('');
            $('#dobInput').val('');
            $('#marriedInput').prop('checked', false);
            $('#phoneInput').val('');
            $('#salaryInput').val('');
        });

        $('#saveChangesModal').click(function () {
            var editedData = {
                id: rowData.id,
                name: $('#nameInput').val(),
                dateOfBirth: $('#dobInput').val(),
                married: $('#marriedInput').prop('checked'),
                phone: $('#phoneInput').val(),
                salary: $('#salaryInput').val(),
            };

            editRowOnServer(editedData);
        });

        function editRowOnServer(rowData) {
            $.ajax({
                url: '/Home/UpdatePerson',
                method: 'POST',
                data: rowData,
                success: function (response) {
                    console.log('Row edited successfully:', response);
                    table.ajax.reload();
                },
                error: function (error) {
                    console.error('Error editing row:', error);
                }
            });
        }

        function deleteRowOnServer(rowData) {
            $.ajax({
                url: '/Home/DeletePerson',
                method: 'POST',
                data: { id: rowData.id },
                success: function (response) {
                    console.log('Row deleted successfully:', response);
                    table.ajax.reload();
                },
                error: function (error) {
                    console.error('Error deleting row:', error);
                }
            });
        }
    });
</script>

<table id="myTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Married</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows will be dynamically populated -->
    </tbody>
</table>

<div id="editModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Row</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nameInput">Name</label>
                        <input type="text" class="form-control" id="nameInput">
                    </div>
                    <div class="form-group">
                        <label for="dobInput">Date of Birth</label>
                        <input type="date" class="form-control" id="dobInput">
                    </div>
                    <div class="form-group">
                        <label for="marriedInput">Married</label>
                        <input type="checkbox" class="form-check-input" id="marriedInput">
                    </div>
                    <div class="form-group">
                        <label for="phoneInput">Phone</label>
                        <input type="number" class="form-control" id="phoneInput">
                    </div>
                    <div class="form-group">
                        <label for="salaryInput">Salary</label>
                        <input type="text" class="form-control" id="salaryInput">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveChangesModal">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

