@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Layout_main.cshtml";
}
<style>
    .center-div {
        display: grid;
        place-items: center;
        align-items: center;
        height: 100vh;
    }

    .center-div form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .center-div input[type="submit"] {
        font-size: 24px;
        padding: 10px 20px;
    }
</style>

<div class="center-div">
    <form method="post" enctype="multipart/form-data" action="/File/Upload">
        <input class="btn btn-outline-dark" type="file" name="csvFile" accept=".csv"/><br /><br />
        <input class ="btn btn-light" type="submit" value="Upload" style="text-align: center;" />
    </form>
</div>