@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Layout_main.cshtml";
}

@section styles{
    <link href="~/css/upload.css" rel="stylesheet"/>
}

<div class="center-div">
    <form method="post" enctype="multipart/form-data" action="/File/Upload">
        <input class="btn btn-outline-dark" type="file" name="csvFile" accept=".csv"/><br /><br />
        <input class ="btn btn-light" type="submit" value="Upload" style="text-align: center;" />
    </form>
</div>